header {
  background-color: #00aeef;
  height: 10vh;
  width: 100%;
  display: flex;
  color: rgba(255,255,255,0.95);
  font-family: 'Muli', sans-serif;
}

header h1 {
  margin-left: 25px;
}

main {
  font-family: 'Muli', sans-serif;
  text-align: center;
}

.even {
  background-color: #00AEEF;
  color: rgba(255,255,255,0.95);
}

.dates {
  margin-top: 50px;
}

.description {
  width: 65vw;
  text-align: left;
}

.user {
  width: 15vw;
  text-align: left;
}

.eachIssue {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 20px;
  padding-left: 10px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}
